@media (max-width: 1440px) {
    .c_sliding-anim-popup-section {
        padding: 140px 0 120px;
    }

    .c_sliding-anim-popup-section {
        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    & .c_sliding-card-popup-main {
                        & .c_sliding-anim-popup-content-container {
                            & .c_popup-content-body {
                                & .c_popup-big-title {
                                    h1 {
                                        font-size: 58.35px;
                                        line-height: 70.33px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .c_PL {
        padding-left: 5%;
    }

    :root {
        --c-sliding-anim-cards-container-width: 90%;
    }

    .c_sliding-anim-popup-section {
        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    .c_sliding-card-popup-main {
                        width: 100%;
                        border-radius: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .c_PL {
        padding-left: 4%;
    }

    :root {
        --c-sliding-anim-cards-container-width: 92%;
    }

    .c_sliding-anim-popup-section {
        padding: 100px 0 80px;
    }

    .c_sliding-anim-popup-section {
        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    & .c_sliding-card-popup-main {
                        & .c_sliding-anim-popup-content-container {

                            .c_popup-header,
                            & .c_popup-content-body {
                                padding-left: 70px;
                                padding-right: 70px;
                            }

                            & .c_popup-content-body {
                                & .c_popup-big-title {
                                    h1 {
                                        font-size: 48.35px;
                                        line-height: 60.33px;
                                    }

                                    img {
                                        bottom: 30px;
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .c_PL {
        padding-left: 5%;
    }

    :root {
        --c-sliding-anim-cards-container-width: 90%;
    }

    .c_sliding-anim-popup-section {
        .c_sliding-anim-cards-main {
            .c_sliding-anim-cards-headings {
                .c_sliding-anim-headings {
                    max-width: 660px;

                    h1 {
                        font-size: 44px;
                        line-height: 50px;
                    }
                }
            }
        }

        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    & .c_sliding-card-popup-main {
                        & .c_sliding-anim-popup-content-container {
                            & .c_popup-content-body {
                                & .c_popup-big-title {
                                    h1 {
                                        font-size: 40.35px;
                                        line-height: 52.33px;
                                    }

                                    img {
                                        width: 180px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .c_PL {
        padding-left: 36px;
    }

    :root {
        --c-sliding-anim-cards-container-width: calc(100% - 72px);
    }

    .c_sliding-anim-popup-section {
        .c_sliding-anim-cards-main {
            .c_sliding-anim-cards-headings {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .c_sliding-anim-headings {
                    max-width: 100%;

                    h5 {
                        span {
                            display: none;

                            &:last-child {
                                display: block;
                            }
                        }
                    }

                    h1 {
                        font-size: 42px;
                        font-weight: 400;
                        line-height: 52.4px;
                        padding-right: 10%;
                    }

                    p {
                        span {
                            display: none;

                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }

                .c_sliding-anim-slider-btns {
                    max-width: max-content;
                    margin: 0 0 0 auto;
                }
            }
        }

        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    padding: 0;

                    & .c_sliding-card-popup-main {
                        & .c_sliding-anim-popup-content-container {
                            & .c_popup-content-body {
                                & .c_popup-big-title {
                                    h1 {
                                        font-size: 36.35px;
                                        line-height: 46.33px;

                                        br {
                                            display: none;
                                        }
                                    }

                                    img {
                                        width: 160px;
                                        right: -40px;
                                        display: none;
                                        bottom: 0;
                                    }
                                }

                                .c_popup-services-grid-container {
                                    grid-template-columns: 1fr;
                                    grid-template-rows: repeat(auto-fill, minmax(105px, 1fr));

                                    .c_popup-service-grid {
                                        min-height: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .c_PL {
        padding-left: 28px;
    }

    :root {
        --c-sliding-anim-cards-container-width: calc(100% - 56px);
    }

    .c_PL {
        padding-left: 0;
    }

    .c_sliding-anim-popup-section {
        padding: 70px 0 80px;

        .c_sliding-anim-cards-main {
            .c_sliding-cards-swiper-container {
                margin-top: 35px;

                .s_sliding-cards-swiper-main {
                    .s_slidings-cards-swiper {
                        .swiper-wrapper {
                            .swiper-slide {
                                width: 100%;

                                .swiper-slide-main {
                                    margin: 0 auto;
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .c_sliding_cards_popups-container {
            & .c_sliding_card-specific-popup-container {
                & .c_sliding-card-content-body-container {
                    & .c_sliding-card-popup-main {
                        & .c_sliding-anim-popup-content-container {

                            .c_popup-header,
                            & .c_popup-content-body {
                                padding-left: 30px;
                                padding-right: 30px;
                            }

                            & .c_popup-content-body {
                                & .c_popup-big-title {
                                    h1 {
                                        font-size: 27.35px;
                                        line-height: 35.33px;
                                    }

                                    div {
                                        margin-top: 30px;

                                        h3 {
                                            font-size: 24px;
                                            line-height: 41.54px;
                                        }
                                    }
                                }

                                .c_popup-services-grid-container {
                                    .c_popup-service-grid {
                                        padding: 20px;

                                        div {
                                            h2 {
                                                font-size: 22.7px;
                                                line-height: 27.41px;

                                                span {
                                                    font-size: 24.7px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}